.array-container {
    position: static;
    top: 100px;
    text-align: center;
    /* --- display: flex; ---> */
}

.array-bar {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 1px;
    background-color: green;
}
