.array-container {
    top: 130px;
    left: 50px;
    position: fixed;
    
    text-align: center;
    /* --- display: flex; ---> */
}
.buffer-container {
    bottom: 185px;
    left: 50px;

    position: fixed;
    
    text-align: center;
    /* --- display: flex; ---> */
}

.array-bar {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 1px;
    background-color: green;
}
