.tool-bar { 
    overflow: hidden;
	margin: 0; 
	padding: 12px; 
	background-color:#34495e;
    display: flex;
    align-items: center;
}
 

/* Button */
.tool-bar button {  
    display: inline;
    margin-left: 5px; margin-right: 5px;
    padding: 5px 5px;
    background-color:royalblue;
    border: none;
    text-align: center;
    font-family: monospace;
    color: white; 
}


/* Slider */
.tool-bar .slider-container {   
    display: inline-block;
    margin-left: 7px; margin-right: 7px;
    text-align: center;
}

.tool-bar .slider-container input {
    appearance: none;
    height: 7px;
    background: white;
}

.tool-bar .slider-container div {
    font-family: monospace;
    color: white;
}


/* Separator */
.tool-bar .separator {   
    display: inline-block;
    margin-left: 7px; margin-right: 7px;
    height: 50px;
    width: 7px;
    background-color: rgb(16, 53, 167);
}

